doctype html
head
  title DSMC: #{title}
  include meta.pug

  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
  link(href="https://fonts.googleapis.com/css?family=Archivo", rel="stylesheet")
  //STYLES
  link(rel="stylesheet", href="/styles/app.css")
  link(rel="stylesheet", href="/styles/importer.css")
  //STYLES END
body
  include nav.pug
  section.section
    .container
      block content

  include footer.pug

  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  //SCRIPTS
  script(src="/dependencies/sails.io.js")
  script(src="/js/app.js")
  script(src="/js/font.min.js")
  //SCRIPTS END

