nav.navbar.is-primary
    .navbar-brand
        .navbar-item(href="#")
            img(src="images/road-roller-white.png") 
            b Construction
        .navbar-burger.buger(data-target="hNav")
        span
        span
        span
    #hNav.navbar-menu
        .navbar-start
            a.navbar-item(href="#")
                span Blogs
            a.navbar-item(href="#")
                span Todo
        .navbar-end
            .navbar-item
                .field.is-grouped
                    p.control
                        a.button.is-link(href="#") Login
                    p.control
                        a.button.is-success(href="#") Sign-Up

